<template>
  <div class="profile-page">
    <section>
      <div class="container">
        <card shadow class="card-profile" no-body>
          <div id="app" class="p-5">
            <vue-meeting-selector
              :multi="true"
              class="simple-example__meeting-selector"
              v-model="meeting"
              :date="date"
              :loading="loading"
              :meetings-days="meetingsDays"
              @next-date="nextDate"
              @previous-date="previousDate"
            >
            </vue-meeting-selector>
            <div v-if="meeting">
              <div class="float-right mt-4 col-md-4">
                <!-- <div>
                      meeting Selected: {{ meeting ? meeting : "No Meeting selected" }}
                    </div> -->
                <base-input
                  v-model="meetingDuration"
                  label="Meeting duration"
                  type="number"
                  alternative
                  placeholder="in minutes"
                ></base-input>
                <base-button
                  tag="a"
                  @click="submit(meeting)"
                  href="#"
                  type="primary"
                  class="mt-4"
                >
                  Validate
                </base-button>
              </div>
            </div>
          </div>
        </card>
      </div>
    </section>
  </div>
</template>
<script>
import VueMeetingSelector from "vue-meeting-selector";

export default {
  name: "availability",
  components: {
    VueMeetingSelector
  },
  props: ["currentNurse"],
  data() {
    return {
      date: new Date(),
      allMeetingsDays: [],
      meeting: null,
      loading: false,
      availabilities: [],
      pagination: {
        perPage: 5,
        currentPage: 1,
        total: 0
      },
      meetingDuration: 30
    };
  },
  watch: {
    currentNurse(nurse) {
      this.loadAvailabilities(nurse);
    }
  },
  methods: {
    // @click on button-right
    async nextDate() {
      // display loading
      this.loading = true;
      // calcul new Date and change actual
      if (this.pagination.currentPage < this.pagination.total) {
        this.pagination.currentPage++;
      }
      this.date = this.meetingsDays[0].date;
      // hide loading
      this.loading = false;
    },
    // @click on button-left
    async previousDate() {
      // display loading
      this.loading = true;
      // calcul new Date and change actual
      // you might need to handle the fact you can't go in past
      this.pagination.currentPage = this.pagination.currentPage - 1 || 1;
      // hide loading
      this.loading = false;
    },
    loadAvailabilities(user) {
      this.loading = true;
      const url = "http://localhost:1337/api/availabilities";
      this.axios
        .get(url, { params: { user: user._id, booked: false } })
        .then(response => {
          this.availabilities = response.data;
          this.pagination.currentPage = 1;
          this.pagination.total = this.groupedMeetingsDays.length;
          this.loading = false;
        });
    },
    submit(meeting) {
      if (!this.user) {
        return this.$router.push({ name: "login" });
      }
      this.loading = true;
      const availability = this.availabilities.find(
        x => x.start == meeting.date
      );
      if (!availability) {
        alert("Error, something wrong happed");
      }
      //console.log(availability)
      const booking = {
        user: this.user._id,
        availability: availability._id,
        start: meeting.date,
        duration: this.meetingDuration
      };
      const url = "http://localhost:1337/api/bookings/store";
      this.axios
        .post(url, { booking: booking })
        //console.log(response.data)
        .then(response => {
          const index = this.availabilities.findIndex(
            x => x._id === response.data.availability._id
          );
          if (index > -1) {
            response.data.newAvailability
              ? this.availabilities.splice(
                  index,
                  1,
                  response.data.newAvailability
                )
              : this.availabilities.splice(index, 1);
          }
          this.meeting = null;
          setTimeout(() => {
            this.loading = false;
          }, 200);
        });
    }
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    meetingsDays() {
      return this.groupedMeetingsDays.slice(
        this.pagination.currentPage - 1,
        this.pagination.currentPage + this.pagination.perPage
      );
    },
    groupedMeetingsDays() {
      return this.availabilities.reduce((acc, cur) => {
        const index = acc.findIndex(x => {
          const date = new Date(x.date).getTime();
          const current = new Date(cur.start).getTime();
          return (
            date !== current && date === new Date(cur.start).setHours(0, 0, 0)
          );
        });
        if (index > -1) {
          acc[index].slots.push({ date: cur.start });
        } else {
          acc.push({
            date: new Date(new Date(cur.start).setHours(0, 0, 0)),
            slots: [{ date: cur.start, _id: cur._id }]
          });
        }
        return acc;
      }, []);
      //console.log(this.meetingsDays)
    }
  },
  async mounted() {
    await this.loadAvailabilities(this.currentNurse);
  }
};
</script>

<style scoped lang="scss">
.section-profile-cover {
  height: 520px;
}
.profile-page .card-profile {
  margin-top: 0px;
}
</style>
<style lang="css">
.meeting__button {
  background-color: #664ab4 !important;
  color: #f4f5f7 !important;
}
.meeting__button--selected,
.meeting__button:hover {
  background-color: #c97dd6 !important;
}

.meeting-selector .tab__pagination__button {
  color: #5e72e4 !important;
}
</style>
