<template>
  <div class="profile-page">
    <section class="section section-skew">
      <div class="container">
        <card shadow class="card-profile" no-body>
            <div id="app" class="p-5">
                <vue-meeting-selector
                  class="simple-example__meeting-selector"
                  v-model="meeting"
                  :date="date"
                  :loading="loading"
                  :meetings-days="meetingsDays"
                  @next-date="nextDate"
                  @previous-date="previousDate"
                />
                <p>
                  meeting Selected: {{ meeting ? meeting : "No Meeting selected" }}
                </p>
              </div>
        </card>
      </div>
    </section>
  </div>
</template>
<script>
import VueMeetingSelector from "vue-meeting-selector";
import data from "./data.json";

export default {
  name: "App",
  components: {
    VueMeetingSelector
  },
  data() {
    return {
      date: new Date(),
      meetingsDays: [],
      meeting: { date: "2021-11-15T08:00:00.000Z" },
      loading: true,
      nbDaysToDisplay: 5
    };
  },
  methods: {
    // @click on button-right
    async nextDate() {
      console.log("nextDate");
    },
    // @click on button-left
    async previousDate() {
      console.log("previousDate");
    }
  },
  async created() {
    this.meetingsDays = data;
    this.loading = false;
  }
};
</script>

<style scoped lang="scss">
.section-profile-cover {
    height: 520px;
}
.profile-page .card-profile {
  margin-top: 0px;
}
</style>
