<template>
  <div>
    <div class="position-relative" :class="{ 'active-nurse': !!selectedNurse }">
      <!-- shape Hero -->
      <section class="section-hero section-shaped my-0">
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex"></div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4" v-for="nurse in nurses" :key="nurse._id">
                <card
                  class="border-0"
                  hover
                  shadow
                  body-classes="py-5"
                  :class="{ 'card-lift-active': isActiveNurse(nurse) }"
                >
                  <icon
                    name="ni ni-check-bold"
                    type="primary"
                    rounded
                    class="mb-4"
                  >
                  </icon>
                  <h6 class="text-primary text-uppercase">{{ nurse.name }}</h6>
                  <p class="description mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <div>
                    <badge type="primary" rounded>consulting</badge>
                    <badge type="primary" rounded>intervention</badge>
                    <badge type="primary" rounded>assistance</badge>
                  </div>
                  <base-button
                    tag="a"
                    @click="selectedNurse = nurse"
                    href="#"
                    type="primary"
                    class="mt-4"
                  >
                    Schedule
                  </base-button>
                </card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <availability
      v-if="selectedNurse"
      :currentNurse="selectedNurse"
    ></availability>
  </div>
</template>
<script>
import Availability from "./Availability";

export default {
  components: {
    Availability
  },
  data() {
    return {
      nurses: [],
      selectedNurse: null
    };
  },
  methods: {
    loadNurses() {
      const url = "http://localhost:1337/api/users";
      this.axios.get(url, { params: { role: "nurse" } }).then(response => {
        //console.log(response)
        this.nurses = response.data.filter(x => x.role == "nurse");
      });
    },
    isActiveNurse(nurse) {
      return this.selectedNurse && nurse._id === this.selectedNurse._id;
    }
  },
  mounted() {
    this.loadNurses();
  }
};
</script>
<style scoped lang="scss">
.section-hero {
  min-height: 445px;
}
.active-nurse .section-hero {
  min-height: 300px;
}
.card-lift-active,
.card-lift--hover:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
</style>
