<template>
  <footer class="footer has-cards">
    <div class="container">
      <hr />
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; {{ fulldate }} Designed by
            <a href="https://www.creative-tim.com" target="_blank"
              >Creative Tim</a
            >. Full Stack App coded by
            <a href="#" target="_blank">Izicorp</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a
                href="https://izihost.net"
                class="nav-link"
                target="_blank"
                >Izicorp - Full stack app generator</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  computed: {
    fulldate() {
      return new Date().getFullYear()
    }
  }
};
</script>
<style></style>
